@namespace MudExtensions
@using MudExtensions.Utilities
@inherits MudComponentBase
@inject MudTeleportManager MudTeleportManager

<div @ref="_ref" class="@Class" style="@Style">
    @ChildContent
</div>

<div class="@_generatedClass @OwnClass">

</div>

